$color-primary:#424242;
$color-primary-light:#6d6d6d;
$color-primary-dark: #1b1b1b;
$color-font:#ffffff;
$secondaryColor-font:blue;
/*This variables are for the responsive bars menu*/
$heightBar: 0.4rem;
$widthBar:4rem;
