@import './variables.scss';
@import './animations.scss';
@import './mixins.scss';

.education{
  height: 100vh;
}

.education-container{
    background:$color-primary-dark;
    color:$color-font;
    height: 100vh;
    overflow-y: hidden;
    
    @include responsive(phone){
        height: 100%;
    }

    &-centered{
       position: relative; 
        top: 10%;
        padding: 4rem;
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-gap: 0.5rem;
        grid-template-columns: repeat(2 , 1fr);
        
        
        @include responsive(phone){
            grid-template-columns: 1fr;
            padding: 1rem;
            grid-gap: 10rem;
            height: 40%;
            width: 90%;
         
        }
       
       &-content{
         
           &>div:not(:first-child){margin-top: 1rem;}
           animation-name: goTop;
           animation-duration: 2s;
        animation-fill-mode: forwards;
          
        @include responsive(phone){
            text-align: center;
        }
       }

        &-image{
            justify-self: center;
            background:url('../assets/upoli.jpg');
            background-size: cover;
            height: 20rem;
            width: 100%;
            animation-name: goTop;
            animation-duration:4s ;
            animation-fill-mode:forwards;

            @include responsive(phone){
                height: 55rem;
            }

        }
    }//end of the centered


}//end of the education container
