@import './variables.scss';
@import './mixins.scss';
.navbar{
background: $color-primary-dark;
padding: 1rem;
@include responsive(phone){
    padding: 2rem;
}

&-container{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    width: 80%;
    margin: 0 auto;

    &-containerLogo{
      &-title{
          color: white;
    }//end of the title
}//end of the container Logo

&-containerLinks{
    

 
   &-ul{
       width: 80%;
       margin: 0 auto;
     
     &   .barMenu{
         
    

         &-bar{
        float: right;
        display: block;
         background:$color-font;
         width: $widthBar;
         height: $heightBar;
         position: relative;
         display: none;

         &:hover{ 
           cursor: pointer;
         }
 
        @include responsive(phone){
            display: block;
            margin-top:1.2rem ;
        }

         &::before{
            position: absolute;
            content:'';
             background:$color-font;
             width: $widthBar;
             height: $heightBar;
             top: -170%;
             left: 0;
             transition: 0.2s;
          
         }

       

         &::after{
            position: absolute;
            content:'';
             background: $color-font;
             width: $widthBar;
             height: $heightBar;
             top: 170%;
             left: 0;
             transition: 0.2s;
    
         }
        }
     }

    &-li{
        list-style: none;
        float: right;
         display: block;
         @include responsive(phone){
             display: none;
         }      
        &::after{
            content:'';
            clear: both;
            display: table;
        }
  
        

        &-links{
            padding-left:  2rem;
            color: white;
            text-decoration: none;
        }
    }
 }
}//end of the container links
}//end of the display
}//end of the navbar

