@import './variables.scss';
@import './mixins.scss';

.sideNavbar{
    height: 100%;
    width: 30%;
    background:red;
    z-index: 20;
    position: fixed;
    opacity: 0.7;
    display: none;
    
}

.sideNavbar-toggle{
    display: block;
}

.app{
    position: absolute;
    top: 0;
    width: 100%;
}