@import './section/navbarStyle.scss';
@import './section/homeStyle.scss';
@import './section/mixins.scss';
@import './section/animations.scss';
@import './section/variables.scss';
@import './section/skillStyle.scss';
@import './section/educationStyle.scss';
@import './section/experienceStyle.scss';
@import './section/sideBar.scss';

* , :root {
padding: 0;
margin: 0;
}

html{
box-sizing: border-box;    
font-size: 62.5%;
font-family: 'Roboto Mono', monospace;

@include responsive(phone){
    font-size: 43.75% ;
}

}


